
.progress {
    width: 700px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.screen-grid {
	background-color: #F4F3F0;
    border: 60px solid #e90d0d; 
    border-radius: 20px; 
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 700px;
    }
.scoreboard{
    display: block;
    

}
    /* border-image-source: "./images/etch-a-sketch-border.png", 30;  */

/* ugh these keep breaking the game // i think its a timing of loading thing-->  */
/* .teamOneScoreButton{
    background-color: blue;
    color: white;
}
.teamOneScore {
    background-color: white;
    color: black
}

.teamTwoScoreButton{
    background-color: blue;
    color: white;

}

.teamTwoScore{
        background-color: white;
        color:black;
    } */